// 68.31px
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 0px 0px 10px #d7d7d7bf;
  background: var(--input-background-color);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000000000000;
}

.link {
  display: contents;
}

@media only screen and (max-width: 600px) {
  .link {
    display: none;
  }
}
