.tweet {
  padding: 14px;
  background-color: var(--input-background-color);
  margin-top: 26px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px #0000000d;
  .tweetImage {
    margin: 10px;
    img {
      border-radius: 15px;
    }
  }
  .tweetHeader {
    display: flex;
    margin-bottom: 15px;
  }
  .author {
    margin-right: 30px;
  }
  .authorName {
    font-weight: 900;
  }
  .dateAndTime {
    font-size: 12px;
    color: #bdbdbd;
  }
  .tweetMessage {
    margin-left: 15px;
  }
}
.tweetFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0px;
    height: 1px;
    width: 100%;
    background: var(--title-bar-color);
  }
  svg {
    margin-right: 10px;
  }
}
.message {
  &:hover {
    svg {
      fill: #4f4f4f;
      stroke: #4f4f4f;
    }
  }
}
.retweet {
  &:hover {
    svg {
      transform: rotateZ(360deg);
      transition: 1s;
    }
  }
}

.like {
  &:hover {
    svg {
      fill: #e72525;
      stroke: #e72525;
    }
  }
}
.Bookmark {
  &:hover {
    svg {
      fill: #4f4f4f;
      stroke: #4f4f4f;
    }
  }
}
.footerbtn {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background: #f2f2f2;
  }
}
