.dropdownLinks {
  display: none;
}
.dropdown {
  position: absolute;
  background: var(--dropdown-background-color);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  min-width: 40px;
  right: 30px;
  box-shadow: 0px 0px 4px #909090bf;
  text-align: center;
  span {
    background: red;
    height: 3px;
    width: 100%;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    background-color: rgb(243, 243, 243);
    object-fit: fill;
    border-radius: 8px;
  }
  .icon {
    margin-left: 20px;
  }
}
.logout {
  margin-top: 10px;
  font-weight: 600;
  color: #fb3640;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130%;
    height: 2px;
    border-radius: 2px;
    background: #dadada;
  }
}
@media only screen and (max-width: 600px) {
  .dropdownLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }
}
