.userDetails {
  margin-top: 10px;
  /* background-color: var(--background-color); */
  padding: 14px;
  background-color: var(--input-background-color);
  margin-top: 26px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px #0000000d;
  // width: 80%;
  .user {
    display: flex;
    align-items: center;
  }
  input {
    // width: 100%;
    border-radius: 3px;
    margin: 12px;
    // font-size: 15px;
    background: var(--input-background-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: none;
    width: 95%;
    display: block;
    // max-width: 600px;
    // resize: none;
    margin-left: 20px;
    &:focus {
      box-shadow: inset 0px 0px 2px #00000047;
    }
  }
  .sendComment {
    padding: 8px 19px;
    background: #2f80ed;
    width: fit-content;
    border-radius: 8px;
    color: white;
    height: 40px;
    cursor: pointer;
  }
}
.tweetsId {
  margin: auto;
  width: 60%;
}

@media only screen and (max-width: 800px) {
  .tweetsId {
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .tweetsId {
    width: 90%;
  }
}
